In [4]:
# atm deposit, withdraw and maintaining balance 
balance = 100000

print("1. check balance")
print("2. deposit money")
print("3. withdraw money")

choice = input("enter your choice(1-3): ")

if choice == "1":
    print("your current balance is:", balance)

elif choice == "2":
    deposit = float(input("enter the amount to deposit"))
    
    if deposit > 0:
        balance = balance + deposit
        print("deposit successful")
        print("updated balance:",balance)

        
elif choice == "3":
    withdraw = float(input("enteer the withdrawl amount"))
    
    if withdraw > 0 and withdraw <= balance:
        balance = balance - withdraw 
        print("withdrawl successful")
        print("remaining balance", balance)
    else:
        print("insufficient balance")

1. check balance
2. deposit money
3. withdraw money

enter your choice(1-3):  2
enter the amount to deposit 5500

deposit successful
updated balance: 105500.0

In [1]:
#table creation with for loop
num = int(input("enter the number"))
print("multiplication table of", num)
for i in range(1,11):
    print(num, "x", i, "=" , i*num)

enter the number 7

multiplication table of 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [6]:
# 1. WAP ask user a no. and print it is even or odd

num = int(input("enter the nuumber"))
if num % 2 == 0 :
    print(num,"is even number")
else:
    print(num,"is odd number")

enter the nuumber 30

30 is even number

In [8]:
# 2. Take a number and print:
# Its square root if number is positive
# "Invalid number" if negative

num = int(input("enter the number"))
if num > 0:
    print(num,"is positive and square root of", num,"is" , num**2)

else:
    print("invaild number")

enter the number 15

15 is positive and square root of 15 is 225

In [10]:
# 3. Write a program that takes a number as input and checks whether it is positive, negative, or zero using if-elif-else.

num = int(input("enter the number"))
if num > 0 :
    print("the given number is positive")
elif num < 0 :
    print("the given number is negative")
else:
    print("the given number is zero")

enter the number -7589347

the given number is negative

In [15]:

# 4. Nested if: Check Voting Eligibility Conditions:
# Age â‰¥ 18, else citizen = No
# if above 40 : aged, else adult

age = int(input("enter the age"))
if age >= 18:
    print("eligible for vote")
    if age > 40:
        print("aged")
else:
    print("not eligible for vote")

enter the age 19

eligible for vote

In [23]:
# 5. Nested if and if-elif-else : Largest of Three Numbers

a = int(input("enter the first number")) 
b = int(input("enter the second number")) 
c = int(input("enter the third number")) 

if a > b:
    if a > c:
        print("largest number is:", a)
    else:
        print("largest number is:", c)
elif b > c:
    print("largest number is:", b)
else:
    print("largest number is:", c)

enter the first number 50
enter the second number 809
enter the third number 454

largest number is: 809

In [2]:
# 1. Write a program to print numbers from 1 to 10 using for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
# 2. Write a program using a for loop to print all even numbers from 1 to 20.

for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [5]:

# 3. Write a program to find the sum of numbers from 1 to 10 using a loop.

sum = 0
for i in range(1,11):
    sum = sum + 1

print("the sum of the nunumbers from 1 to 10 is", i + sum)

the sum of the nunumbers from 1 to 10 is 20

In [6]:
# 4. Write a program that prints the numbers from 10 to 1 using a for loop. 

for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [8]:
# 5. Write a program that print the square of each number from 1 to 10.

print("THE SQUARE OF EACH NUMBER FROM 1 TO 10")
for i in range(1,11):
    print(i*i)

THE SQUARE OF EACH NUMBER FROM 1 TO 10
1
4
9
16
25
36
49
64
81
100

In [9]:
# 6. Write a program to display the multiplication table of a number entered by the user.

num = int(input("enter the number"))
print("multiplication table of" , num)
for i in range(1,11):
    print(num,"x",i,"=",i*num)

enter the number 4

multiplication table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [10]:
# 7. Print pattern using loop
#     *
#     **
#     ***
#     ****

print("star pattern")
for i in range(1,5):
    print("*" * i)

star pattern
*
**
***
****

In [2]:
for i in range(1,11):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello